.barReviews {
  display: flex;
  align-items: center;
  gap: 10px;
}
.barReviews__bar {
  position: relative;
  width: 189px;
  min-width: 189px;
  display: flex;
  align-items: center;
}
.barReviews__bar__yellow {
  height: 1.875rem;
  background-color: #ffad0d;
}
.barReviews__bar__gray {
  height: 1.875rem;
  background-color: #d9d9d9;
}
.barReviews__label {
  font-family: "Circular Std", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #556282;
}
.barReviews__bar__grade {
  position: absolute;
  top: 0.4375rem;
  left: 0.4375rem;

  font-family: "Circular Std", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #ffffff;
}
