.loadingTicketPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.125rem;
  padding: 2.0625rem 3.75rem;
}
.loadingTicketPage__info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2.375rem;
}
.loadingTicketPage__info:first-child {
  flex: 2.5496;
}
.loadingTicketPage__info:last-child {
  flex: 1;
}
