.ticket {
  padding: 2.0625rem 3.75rem;
}
.ticket__header {
  padding-bottom: 2.125rem;
}
.ticket__main {
  display: flex;
  gap: 2.375rem;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 1.25rem;
}
.ticket__main__description {
  flex: 2.5496;
}
.ticket__main__info {
  flex: 1;
  padding-top: 2.75rem;
}
