.typesOfProperties {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.typesOfProperties__buton {
  display: flex;
  align-items: center;
  gap: 0.625rem;

  border: 0.0625rem solid #ced2db;
  border-radius: 0.125rem;
  padding: 0.5rem;
  color: #ced2db;
}
.typesOfProperties__buton svg path {
  stroke: #ced2db;
}

.typesOfProperties__buton__active {
  border-color: #4070f4;
  color: #4070f4;
}
.typesOfProperties__buton__active svg path {
  stroke: #4070f4;
}
